@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef4e8;
  --akzent-dunkel: #660530;
  --primaer: #970757;
  --text-color: var(--akzent-dunkel);
}

body {
  color: var(--text-color);
  background: var(--background);
}
