@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'BestLight';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/BestLight.woff) format('woff');
  }
}

:root {
  --background: #fef4e8;
  --akzent-dunkel: #660530;
  --primaer: #970757;
  --text-color: var(--akzent-dunkel);
}

body {
  color: var(--text-color);
  background: var(--background);
}

.stripe {
  background-color: var(--primaer);
  box-shadow: 0 0 0 100vmax var(--primaer);
  clip-path: inset(0 -100vmax); 
}

.stripe-down {
  background-color: var(--primaer);
  box-shadow: 0 50px 0 100vmax var(--primaer);
  clip-path: inset(0 -100vmax -100vmax -100vmax); 
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: var(--background);
  box-shadow: 0 0 0 100vmax var(--background);
  clip-path: inset(0 -100vmax); 

  z-index: 100;
}